<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body class="container">
        <h1 th:text="${title}">Default Title</h1>
        <nav th:replace="fragments :: navigation"></nav>


        <table>
            <tr th:each="menu, idx : ${menus}">
                <td><a th:href="@{/menu/view/{id} (id=${menu.id})}" th:text="${menu.name}"></a></td>
            </tr>
        </table>


        <a href="/menu/add">Add Menu</a>
</body>
</html>